<table cellspacing="0" cellpadding="6" width="100%" style="border: .5px sild black;">
  <tr>
    <!-- Left column -->
    <td width="50%" valign="top">
      <p><b>Company's Bank Details</b></p>
      <p>
        Bank Name: {{invoice.company.bank_name}} <br/>
        A/c No.: {{invoice.company.bank_account}} <br/>
        Branch : {{invoice.company.bank_branch}} <br> 
        IFS Code: {{invoice.company.ifsc}}
      </p>
      <p><b>Declaration</b></p>
      <p>
        We declare that this invoice shows the actual price of the goods
        described and that all particulars are true and correct.
      </p>
    </td>

    <!-- Right column -->
    <td width="50%" valign="top" align="right">
      <p>for {{invoice.company.name|upper}}</p>
      <br/><br/><br/>
      <p><b>Authorised Signatory</b></p>
    </td>
  </tr>
</table>
